body{
    font-family:serif;
    background-color:#355C7D;
}

table{
    border: 2px solid #C06C84; 
}

td{
    background-color:#F8B195;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

th{

    padding: 0px;
    background-color:#C06C84;
}

h1{
    text-align: center;
    color:#F8B195;
    text-decoration: underline;
    text-decoration-color: #C06C84;
}

footer{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color:#F8B195;
    font-weight: bold; 
}

.code{
    background-color: lavender;
    color: black;
    font-family: monospace;  
}